<!-- Time mode panel -->
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Time Mode</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-raised btn-info " data-toggle="modal" data-target="#time-based-info">Learn More</button>
            <a href="javascript:void(0)" class="btn btn-raised btn-default">Try Timed Questions</a>
            <h3>Summary</h3>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <h5>Total Questions tried</h5>
                </div>

                <div class="col-md-6">
                    <h5>{{ totalQu }}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h5>Total Sessions tried</h5>
                </div>

                <div class="col-md-6">
                    <h5>{{ totalS }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Time mode infomation modal -->
<div id="time-based-info" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Time Based Questions</h4>
            </div>
            <div class="modal-body">
                <p>Time Based Question can be used when you limited time and want to try out some questions. Simply select the
                    subject and enter time you want and system will automatically select questions according to your preferences
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>

    </div>
</div>