<div class="container">
  <h2>History</h2>
  <div class="col-md-4"></div>
  <div class="row">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Time</th>
          <th>Subject</th>
          <th>Questions Tried</th>
          <th>Correct Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>September 16, 2016</td>
          <td>11:37 PM</td>
          <td>Physics</td>
          <td>10</td>
          <td>80%</td>
        </tr>
        <tr class="info">
          <td>2</td>
          <td>April 17, 2016</td>
          <td>01:37 PM</td>
          <td>Chemistry</td>
          <td>50</td>
          <td>85%</td>
        </tr>
        <tr class="info">
          <td>3</td>
          <td>December 15, 2015</td>
          <td>08:37 PM</td>
          <td>Physics</td>
          <td>40</td>
          <td>90%</td>
        </tr>

        <tr class="danger">
          <td>3</td>
          <td>November 15, 2015</td>
          <td>11:41 PM</td>
          <td>Physics</td>
          <td>10</td>
          <td>40%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>