<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">EXAMEN</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/']">Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/history']">History</a></li>
        <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/about']">About</a></li>-->
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control col-md-8" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Shavindra
            <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/about']">
                <div class="list-group">
                  <div class="list-group-item">
                    <div class="row-picture">
                      <img class="circle" src="../../assets/images/shavindra.jpg" alt="icon">

                      <h4 class="list-group-item-heading">Shavindra Manathunga</h4>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li><a [routerLink]="['/login']">Login</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>