<navbar></navbar>
<div class="container col-md-8 col-md-offset-2">
	<div class="well">
		<form class="form-horizontal">
			<fieldset>
				<legend>Quiz Summary</legend>

				<div class="form-group">
					<label for="subject" class="col-md-2 control-label">Subject</label>

					<div class="col-md-10">
						<h4 for="subject" class="col-md-2 control-label">{{ subject }}</h4>
					</div>
				</div>

                <div class="form-group">
					<label for="year" class="col-md-2 control-label">Year</label>

					<div class="col-md-10">
						<h4 for="year" class="col-md-2 control-label">{{ paperYear }}</h4>
					</div>
				</div>

                <div class="form-group">
					<label for="duration" class="col-md-2 control-label">Duration (min)</label>

					<div class="col-md-10">
						<h4 for="duration" class="col-md-2 control-label">{{ duration }}</h4>
					</div>
				</div>


                <div class="form-group">
					<label for="noOfQuestions" class="col-md-2 control-label">No. Of Questions</label>

					<div class="col-md-10">
						<h4 for="noOfQuestions" class="col-md-2 control-label">{{ numberOfQuestions }}</h4>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-10 col-md-offset-8">
						<button type="button" class="btn btn-default">Back</button>
						<button type="submit" class="btn btn-raised btn-primary">Let's Start!</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>