<navbar></navbar>
<div class="container col-md-8 col-md-offset-2">
	<div class="well">
		<form class="form-horizontal">
			<fieldset>
				<legend>Initialize Model Paper</legend>

				<div class="form-group">
					<label for="selectYear" class="col-md-2 control-label">Select Year</label>

					<div class="col-md-10">
						<select id="selectYear" class="form-control">
                            <option>2010</option>
                            <option>2011</option>
                            <option>2012</option>
                            <option>2013</option>
                            <option>2014</option>
                        </select>
					</div>
				</div>

				<div class="form-group">
					<label for="SelectSubject" class="col-md-2 control-label">Select Subject</label>

					<div class="col-md-10">
						<select id="SelectSubject" class="form-control">
                            <option>Physics</option>
                            <option>Chemistry</option>
                            <option>Biology</option>
                            <option>Combined Maths</option>
                        </select>
					</div>
				</div>

				<div class="form-group">
					<label for="SelectDistrict" class="col-md-2 control-label">Select District</label>

					<div class="col-md-10">
						<select id="SelectDistrict" class="form-control">
                            <option>Colombo</option>
                            <option>Kandy</option>
                            <option>Kurunagala</option>
                            <option>Gampaha</option>
                        </select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-10 col-md-offset-8">
						<button type="button" class="btn btn-default">Back</button>
						<button type="submit" class="btn btn-raised btn-primary">Start</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>