<navbar></navbar>
<div class="container col-md-8 col-md-offset-2">
	<div class="well">
		<form class="form-horizontal">
			<fieldset>
				<legend>Initialize Quiz</legend>

				<div class="form-group">
					<label for="selectYear" class="col-md-2 control-label">Subject</label>

					<div class="col-md-10">
						<select id="selectYear" class="form-control">
                            <option>Physics</option>
                            <option>Chemistry</option>
                            <option>Biology</option>
                            <option>Combined Maths</option>
                        </select>
					</div>

				</div>

					<div class="form-group">
						<label for="inputEmail" class="col-md-2 control-label">TIme Allocation (min)</label>

						<div class="col-md-10">
							<input type="number" min="5" max="180" class="form-control" id="inputEmail" placeholder="Time">
						</div>
					</div>



				<div class="form-group">
					<div class="col-md-10 col-md-offset-8">
						<button type="button" class="btn btn-default">Back</button>
						<button type="submit" class="btn btn-raised btn-primary">Start</button>
					</div>
				</div>
			</fieldset>
		</form>

		<h5>
			{{st}}
		</h5>
	</div>
</div>