<div class="list-group">
    <div class="list-group-item">
        <div class="row-picture">
            <img class="circle" src="../../assets/images/shavindra.jpg" alt="icon">
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">Shavindra Manathunga</h4>

            <p class="list-group-item-text">User Type: <b>{{ userType }}</b></p>
        </div>
    </div>
    <div class="list-group-separator"></div>

    <div class="container">
        <div class="row">
            <!--Personal Profile-->
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Personal Profile</h3>
                    </div>
                    <div class="panel-body">
                        <h3>{{ fullName }}</h3>
                        <hr/>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Address</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ address }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>Email Address</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ email }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>Contact Number</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ phone }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>Home District</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ district }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>School</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ school }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Personal Profile-->

            <!-- User account details -->
                        <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Account Details</h3>
                    </div>
                    <div class="panel-body">
                        <h3>Account Type : Student</h3>
                        <hr/>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Address</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ address }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>Email Address</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ email }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>Contact Number</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ phone }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>Home District</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ district }}</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>School</h5>
                            </div>

                            <div class="col-md-8">
                                <h5>{{ school }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>